body{
    background-color: aquamarine;
    font-family: 'Manjari', sans-serif;
    font-family: 'Poppins', sans-serif;
}


.rectangle{
    /* color: #D64D55; */
    background-color: bisque;
    height:30em;
    width: 50em;
    /* backing for image */
    margin-left: 30em;
    margin-top: 20em;
}

.headshot{
    margin-left: 30em;
    margin-top: 20em;
}

.info{
    margin-right: 30em;
    margin-top: 20em;
}

.info-backing{
    background-color: bisque;
    height:20px;
    width: 50px;
    margin-right: 0px;
    margin-top: 0px;
}